<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Easipe_MobileApplicationDevelopment"
        tools:targetApi="31">
        <activity
            android:name=".view.profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.RecipeContent"
            android:exported="false" />
        <activity
            android:name=".view.navbar.NavigationBar"
            android:exported="false"
            android:theme="@style/Theme.Easipe_MobileApplicationDevelopment"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.profile.EditAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.MyRecipesActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.UpdateRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".view.features.AddRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>